.whole-item{
    border: 1px solid black;
    width: 100%;
    display: flex;
}
.item-div:hover{
    background-color: #4CAF50;
}
.done-button{
    width: 20px;
    height: 20px;
    background-color: green;
    margin: 2px;
    padding: 1px;
}
.delete-button{
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 2px;
    padding: 1px;
}
 .done{
    width: 100%;
    background-color: #4CAF50;
}
.initial{
    width: 100%;
}